accelerate
aiohttp
datasets
dion
einops
grpcio>=1.74.0
huggingface_hub>=1.0.0
jsonlines
nemo-automodel @ git+https://github.com/NVIDIA-NeMo/Automodel.git@c4e4c8d17472dc16a34fda22e5132215aefebf13
optree>=0.15.0
packaging
peft
pylatexenc
pynvml>=12.0.0
ray[default]==2.55.0
sympy
tensorboard
torch
torchdata
torchmetrics
tqdm
transformers
vllm
vllm-router>=0.1.14
wandb
wheel
